@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700.css";
$black: #050912;
$yellow: #FFF152;

body{
  background-color: white;
  color: $black;
  font-family: 'Roboto Condensed', sans-serif, 400;
}

.logo{
  color: $yellow;
  font-family: 'Roboto Condensed', sans-serif, 700;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  border: solid 3px $yellow;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.navbar{
  height: 50px;
}

.ui.inverted.menu .header.item {
  background: none;
}

// a.start_button button,
// a.index_button button{
//   color: $yellow;
//   text-transform: uppercase;
//   font-size: 700;
// }

.find_button{
  margin-bottom: 20px;
}

#next_button{
  margin-top: 20px;
  height: 75px;
  width: 350px;
}

#index_button{
  margin-top: 10px;
  height: 75px;
  width: 350px;
  margin: auto;
}

#start_button{
  height: 75px;
  width: 350px;
  margin: auto;
}

.definition_box{
  width: 375px;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}

.choose_box{
  width: 375px;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}

#question_box{
  width: 375px;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
  // background-color: #555;
}

#cards_box{
  width: 375px;
  height: auto;
  // background-color: red;
  margin: auto;
}

.next_button_box{
  width: 375px;
  height: 50px;
}

#next_button_container{
  margin: auto;
}
.question h2{
  font-family: 'Roboto Condensed', sans-serif, 400;
  font-size: 1.6em;
}

.ui.card>.content>.header:not(.ui){
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}

.ui.card.correct{
  background-color: #6AC84C;
}

.ui.card.incorrect{
  background-color: #C53032;
}

.description{
  font-size: 20px;
}


