<div class="definition_box">
  <h3>definition:</h3>
</div>
<div class="question" id="question_box">
  <h2>{{card.meaning}}</h2>
</div>
<div class="choose_box">
  <h3>choose the correct mana'o (meaning):</h3>
</div>
<div class="ui list" id="cards_box">
  <div class="ui card" ng-click="userSelectsOption($event, option)" ng-repeat="option in card.options">
    <div class="content">
      <div class="header">{{ option.title }}</div>
      <div class="meta"></div>
      <div class="description" ng-show="showAnswers">
        {{ option.definition }}
      </div>
    </div>
  </div> 
</div> 


<div class="next_button_box" ng-show="showNextButton" id="next_button_container">
 <a class="next_button" ui-sref="card({name:''})">
    <button class="fluid ui button" tabindex="0" id="next_button">
      Next
    </button>
  </a>
</div>