<div class="definition_box">
  <div class="manao">manaʻo</div>
  <div class="meaning">meaning</div>
</div>
<div class="question" id="question_box">
  <h2>{{card.meaning}}</h2>
</div>
<div class="choose_box">
  <div class="olelo">ʻŌlelo, he aha</div>
  <div class="word">What is the correct Hawaiian word?</div>
</div>
  

<div class="ui list" id="cards_box">
  <div class="ui card" ng-click="userSelectsOption($event, option)" ng-repeat="option in card.options" id="cards">
    <div class="content">
        <div class="header">{{ option.title }}</div>
        <div class="meta"></div>
        <div class="description" ng-show="showAnswers">
          {{ option.definition }}
        </div>
    </div>
  </div> 
</div> 

<div class="next_button_box" ng-show="showNextButton">
 <a class="next_button" ui-sref="card({name:''})">
    <button class="fluid ui animated button" tabindex="0" id="next_button">
      <div class="visible content">
        next mana'o
      </div>
      <div class="hidden content">
        <i class="arrow right icon"></i>
      </div>
    </button>
  </a>
</div>


<!-- <div class="next_button_box" ng-show="showNextButton">
 <a class="next_button" ui-sref="card({name:''})">
    <button class="fluid ui button" tabindex="0" id="next_button">
      next mana'o
    </button>
  </a>
</div> -->