  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="thirteen wide column">
      <div class="logo">MANA'O</div>
    </div>
  </div> 
   
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="thirteen wide column">
      <div class="fluid ui button" tabindex="0">
        <a class="start_button" ui-sref="card">find</a>
      </div>
    </div>
  </div>
  
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="thirteen wide column">  
      <div class="fluid ui black button" tabindex="0" id="index_button">
        <a class="index_button" ui-sref="list_all">list all</a>
      </div>
    </div>
  </div>  