@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700.css);
body {
  background-color: white;
  color: #050912;
  font-family: 'Roboto Condensed', sans-serif, 400; }

.logo {
  color: #FFF152;
  font-family: 'Roboto Condensed', sans-serif, 700;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  border: solid 3px #FFF152;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px; }

.navbar {
  height: 75px; }

.ui.inverted.menu .header.item {
  background: none; }

.find_button {
  margin-bottom: 20px; }

.next_button_box {
  margin: auto; }

#next_button {
  margin-top: 20px;
  height: 75px;
  width: 350px; }

#index_button {
  margin-top: 10px;
  height: 75px;
  width: 350px;
  margin: auto; }

#start_button {
  height: 75px;
  width: 350px;
  margin: auto; }

.question h2 {
  font-family: 'Roboto Condensed', sans-serif, 400;
  font-size: 1.6em; }

.ui.card > .content > .header:not(.ui) {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4em; }

.ui.card.correct {
  background-color: #6AC84C; }

.ui.card.incorrect {
  background-color: #C53032; }

.description {
  font-size: 20px; }
