@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700.css);
body {
  background-color: white;
  background-image: url(/images/pixel_weave.png);
  color: #050912;
  font-family: 'Roboto Condensed', sans-serif, 400; }

span.home {
  display: block;
  color: white; }

span.logo {
  color: #45ADA8;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
  text-align: center;
  border: solid 3px #45ADA8;
  height: 45px;
  margin: auto;
  width: 317px;
  padding: 5px;
  display: block; }

.navbar {
  height: 55px;
  width: 100%;
  background-color: black; }

#home_button {
  text-transform: uppercase;
  height: 55px; }

h3 {
  font-family: 'Roboto Condensed', sans-serif, 400; }

.find_button {
  margin-bottom: 20px; }

#index_button {
  margin-top: 10px;
  height: 40px;
  width: 350px;
  margin: auto;
  text-transform: uppercase;
  background-color: #45ADA8; }

#start_button {
  height: 40px;
  width: 350px;
  margin: auto;
  text-transform: uppercase;
  background-color: #45ADA8; }

.definition_box {
  width: 375px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  padding-top: 10px; }

.question_container {
  width: 375px;
  height: auto;
  border: solid 1px #d4d4d5;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: .2857rem;
  box-shadow: 0 3px 0 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
  background-image: url(/images/witewall_3.png); }

.manao {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .5px;
  text-align: center;
  color: #45ADA8; }

.meaning {
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  text-align: center; }

.choose_box {
  width: 375px;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-bottom: 5px;
  color: #45ADA8; }

.word {
  font-weight: 400;
  font-size: 17px;
  color: #555555;
  letter-spacing: .5px;
  text-align: center; }

.olelo {
  font-size: 15px;
  color: #45ADA8;
  letter-spacing: .5px;
  text-align: center; }

#question_box {
  width: 360px;
  height: auto;
  margin: auto;
  margin-bottom: 20px; }

#cards_box {
  width: 375px;
  height: auto;
  margin: auto; }

#cards {
  margin: auto;
  width: 100%;
  margin-bottom: 10px; }

#next_button {
  height: 50px;
  width: 375px;
  margin: auto;
  letter-spacing: 1px;
  background-color: #45ADA8;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 2px #594F4F; }

.next_button_box {
  margin-top: 20px; }

.question h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1.5px; }

.ui.top.attached.label {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  text-shadow: 0 1px 2px #FFFFFF;
  background-color: #C4C4C4; }

.ui.top.attached.label:first-child + :not(.attached) {
  margin-top: 3rem !important; }

.ui.card > .content > .header:not(.ui) {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4em; }

.ui.card > .content > .meta + .description {
  margin-top: 0; }

.ui.card.correct {
  background-color: #9DE0AD;
  background-image: url(/images/greencheck.png);
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: 340px 5px; }

.ui.card.incorrect {
  background-color: #EE403D;
  background-image: url(/images/redx.png);
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: 340px 8px; }

.description {
  font-size: 20px; }
